@charset "UTF-8";

/// Selector of element.
///
/// @access private
///
/// @param {String} $element - Name of element that will come after ".{block}__"
///
/// @requires get-block
/// @requires is-block
/// @requires $bem-element-separator
///
/// @returns {String} - .{block}__{element}
///
/// @see {mixin} element

@function element-selector($element) {
	$selector: '';
	$parent: unquote("#{&}");

	//
	@if (is-block($parent)) {
		$selector: unquote("&#{$bem-element-separator}#{$element}");
	} @else {
		$block: get-block($parent);
		$selector: unquote("& .#{$block}#{$bem-element-separator}#{$element}");
	}

	//
	@if (type-of($element) == 'list') {
		$selector: ();

		//
		@each $value in $element {
			$current: '';

			//
			@if (is-block($parent)) {
				$current: unquote("&#{$bem-element-separator}#{$value}");
			} @else {
				$block: get-block($parent);
				$current: unquote("& .#{$block}#{$bem-element-separator}#{$value}");
			}

			//
			$selector: append($selector, $current, comma);
		}
	}

	@return $selector;
}

/// @alias element-selector

@function e-selector($element) {
	@return element-selector($element);
}