@charset "UTF-8";

/// Selector of modifier.
///
/// @access private
///
/// @param {String} $modifier - Name of modifier that will come after ".[block]--"
///
/// @returns {String} - .[block]--[modifier]
///
/// @see {mixin} modifier

@function modifier-selector($modifier) {
	$selector: unquote("&#{$bem-modifier-separator}#{$modifier}");

	//
	@if (type-of($modifier) == 'list') {
		$selector: ();

		//
		@each $value in $modifier {
			$current: unquote("&#{$bem-modifier-separator}#{$value}");
			$selector: append($selector, $current, comma);
		}
	}

	@return $selector;
}

/// @alias modifier-selector

@function m-selector($modifier) {
	@return modifier-selector($modifier);
}