//
@function modifier-selector($modifier) {
	$selector: unquote("&#{map-get($bem, "modifier")}#{$modifier}");

	//
	@if (type-of($modifier) == 'list') {
		$selector: ();

		//
		@each $value in $modifier {
			$current: unquote("&#{map-get($bem, 'modifier')}#{$value}");
			$selector: append($selector, $current, comma);
		}
	}

	@return $selector;
}

//
@function m-selector($modifier) {
	@return modifier-selector($modifier);
}