@charset "UTF-8";

/// Get index of separator.
///
/// @access private
///
/// @param {String} $string - Name of selector, where we should find separator
///
/// @returns {Number} - Index of separators

@function bem-index($string) {
	$e_index: null;
	$m_index: null;

	//
	@if (str-index($string, unquote("#{$bem-element-separator}")) != null) {
		$e_index: str-index($string, unquote("#{$bem-element-separator}"));
	}

	//
	@if (str-index($string, unquote("#{$bem-modifier-separator}")) != null) {
		$m_index: str-index($string, unquote("#{$bem-modifier-separator}"));
	}

	//
	@if (str-index($string, unquote(".is#{$bem-modifier-separator}")) != null) {
		$m_index: str-index($string, unquote(".is#{$bem-state-separator}"));
	}

	//
	@if (str-index($string, unquote(".js#{$bem-modifier-separator}")) != null) {
		$m_index: str-index($string, unquote(".js#{$bem-state-separator}"));
	}

	//
	@if (str-index($string, unquote(".has#{$bem-modifier-separator}")) != null) {
		$m_index: str-index($string, unquote(".has#{$bem-state-separator}"));
	}

	//
	@return math-min($e_index, $m_index, 0);
}