@charset "UTF-8";

/// Get index of separator.
///
/// @access private
///
/// @param {String} $string - Name of selector, where we should find separator
///
/// @returns {Number} - Index of separators

@function bem-index($string) {
	$e_index: null;
	$m_index: null;

	//
	@if (str-index($string, unquote("#{$bem-element-separator}")) != null) {
		$e_index: str-index($string, unquote("#{$bem-element-separator}"));
	}

	//
	@if (str-index($string, unquote("#{$bem-modifier-separator}")) != null) {
		$m_index: str-index($string, unquote("#{$bem-modifier-separator}"));
	}

	//
	@if (str-index($string, ".is") != null) {
		$m_index: str-index($string, ".is");
	}

	//
	@if (str-index($string, ".js") != null) {
		$m_index: str-index($string, ".js");
	}

	//
	@if (str-index($string, ".has") != null) {
		$m_index: str-index($string, ".has");
	}

	//
	@if (str-index($string, ":") != null) {
		$m_index: str-index($string, ":");
	}

	//
	@return math-min($e_index, $m_index, 0);
}
