@function explode($string, $separator) {
	$list: ();
	$length: str-length($string);

	@for $i from 1 through $length {
		$index: str-index($string, $separator);

		@if str-length($string) >= 1 and $index == null {
			$list: append($list, $string);
			$string: '';
		}

		@if type-of($index) == number {
			$each: str-slice($string, 0, ($index - 1));
			$list: append($list, $each);
			$string: str-slice($string, ($index + 1), $length);
		}
	}

	@return $list;
}