//
@function has-state($selector) {
    $separator_is: unquote('#{".is"}#{map-get($bem, state)}');
    $separator_js: unquote('#{"js"}#{map-get($bem, state)}');
    $separator_has: unquote('#{"has"}#{map-get($bem, state)}');

	@return str-index($selector, $separator_is) != null and str-index($selector, $separator_js) != null and str-index($selector, $separator_has) != null;
}