@import "bem";

@include b('block') {
	display: block;

	@include e('element1') {
		display: element1;

		@include m('modifier1') {
			display: modifier1;
		}

		@include is('state') {
			display: is-state;
		}

		@include has('state') {
			display: has-state;
		}

		@include js('state') {
			display: js-state;
		}
	}

	@include m('modifier2') {
		display: modifier2;

		@include while('modifier1') {
			display: modifier2-1;
		}
	}

	@include e('element2') {
		display: element2;

		@include duo {
			display: element2-2;
		}

		@include with('element1') {
			display: element2-1;
		}

		@include at('modifier2') {
			display: modifier2;
		}
	}
}

@include o('object') {
	display: object;
}

@include c('component') {
	display: component;
}

@include u('utility') {
	display: utility;
}

@include t('theme') {
	display: theme;
}

@include s('scope') {
	display: scope;
}

@include _('hack') {
	display: hack;
}

@include qa('test') {
	display: test;
}

// .block
@include b(block) {
	display: block;

	// .block:hover, .block--hover
	@include parse(':hover', 'm:hover') {
		display: inline-block;
	}
}