@mixin element($element) {
	$selector: '';

	@if (is-block(#{&})) {
		$selector: '#{&}#{map-get($bem, 'element')}#{$element}';
	} @else {
		$block: get-block(#{&});
		$selector: '#{&} .#{$block}#{map-get($bem, 'element')}#{$element}';
	}

	@if (type-of($element) == 'list') {
		$selector: ();

		@each $value in $element {
			$current: '';

			@if (is-block(#{&})) {
				$current: '#{&}#{map-get($bem, 'element')}#{$value}';
			} @else {
				$block: get-block(#{&});
				$current: '#{&} .#{$block}#{map-get($bem, 'element')}#{$value}';
			}

			$selector: append($selector, $current, comma);
		}
	}

	@at-root #{$selector} {
		@content;
	}
}

@mixin e($element) {
	@include element($element) {
		@content;
	}
}