@import "../scss/bem";

@include b(block) {
	@include e(first second third fourth) {
		color: orange;
	}

	@include m(first second third fourth) {
		color: orange;
	}

	@include e(item) {
		@include is(active) {
			color: red;

			@include e(inner) {
				color: green;
			}
		}
	}
}