@charset "UTF-8";
@use "sass:string";
@use "sass:list";
@use "sass:meta";

/// Selector of modifier.
///
/// @access private
///
/// @param {String} $modifier - Name of modifier that will come after ".[block]--"
///
/// @returns {String} - .[block]--[modifier]
///
/// @see {mixin} modifier

@function modifier-selector($modifier) {
  $selector: string.unquote("&#{$bem-modifier-separator}#{$modifier}");

  @if (meta.type-of($modifier) == 'list') {
    $selector: ();

    @each $value in $modifier {
      $current: string.unquote("&#{$bem-modifier-separator}#{$value}");
      $selector: list.append($selector, $current, comma);
    }
  }

  @return $selector;
}

/// @alias modifier-selector

@function m-selector($modifier) {
  @return modifier-selector($modifier);
}
