@charset "UTF-8";
@use "sass:string";
@use "sass:list";

/// Selector(s) of at relationship.
///
/// @param {String} $modifier - List of modifier that will come after ".[block]--"
///
/// @returns {String} - .[block]--[modifier]
///
/// @see {mixin} at

@function at-selector($modifiers...) {
  $block: get-block(string.unquote("#{&}"));
  $classes: ();

  @each $modifier in $modifiers {
    $classes: list.append($classes, string.unquote(".#{$block}#{$bem-modifier-separator}#{$modifier}"));
  }

  @return string.unquote("#{implode($classes)} &");
}

/// Selector of adjacent relationship.
///
/// @param {String} $element - Name of element that will come after ".[block]__"
///
/// @returns {String} - & + .[block]__[element]
///
/// @see {mixin} next

@function next-selector($element) {
  $block: get-block(string.unquote("#{&}"));

  @return string.unquote("& + .#{$block}#{$bem-element-separator}#{$element}");
}

/// Selector of duo relationship.
///
/// @returns {String} - & + &
///
/// @see {mixin} duo

@function duo-selector($debug: false) {
  $list: explode(string.unquote("#{&}"), ' ');

  @if ($debug == true and list.length($list) == 0) {
    $list: ('&');
  }

  $last: list.nth($list, list.length($list));

  @return string.unquote("& + #{$last}");
}

/// Selector of sibling relationship.
///
/// @param {String} $element - Name of element that will come after ".[block]__"
///
/// @returns {String} - & ~ .[block]__[element]
///
/// @see {mixin} with

@function with-selector($element) {
  $block: get-block(string.unquote("#{&}"));

  @return string.unquote("& ~ .#{$block}#{$bem-element-separator}#{$element}");
}

/// Selector(s) of while relationship.
///
/// @param {String} $modifier - List of modifiers that will come after ".[block]--"
///
/// @returns {String} - .[block]--[modifier]
///
/// @see {mixin} while

@function while-selector($modifier) {
  $block: get-block(string.unquote("#{&}"));

  @return string.unquote("&.#{$block}#{$bem-modifier-separator}#{$modifier}");
}
