/**
 * Format: .block[<element>|<modifier>] {}
 */
@mixin block($block) {
	.#{$block} {
		@if $bem-debug == true {
			outline: 5px solid #363863;
		}

		@content;
	}
}

@mixin b($block) {
	@include block($block) {
		@content;
	}
}