$bem-object-namespace: o !default;

/**
 * Signify that something is an Object, and that it may 
 * be used in any number of unrelated contexts to the one 
 * you can currently see it in. Making modifications to 
 * these types of class could potentially have knock-on 
 * effects in a lot of other unrelated places. 
 * Tread carefully.
 *
 * Format: .o-object[<element>|<modifier>] {}
 */
@mixin object($object) {
	.#{$bem-object-namespace}-#{$object} {
		@if $bem-debug == true {
			outline: 5px solid #9bcb3c;
		}

		@content;
	}
}

// Shorthand
@mixin o($object) {
	@include object($object) {
		@content;
	}
}