@mixin at($modifier) {
	$block: get-block(unquote("#{&}"));

	.#{$block}#{map-get($bem, 'modifier')}#{$modifier} & {
		@content;
	}
}

@mixin with($element) {
	$block: get-block(unquote("#{&}"));

	& + .#{$block}#{map-get($bem, 'element')}#{$element} {
		@content;
	}
}

@mixin duo {
	$list: explode(unquote("#{&}"), ' ');
	$last: nth($list, length($list));

	& + #{$last} {
		@content;
	}
}

@mixin while($modifier) {
	$block: get-block(unquote("#{&}"));

	&.#{$block}#{map-get($bem, 'modifier')}#{$modifier} {
		@content;
	}
}