$bem-scope-namespace: s !default;

/**
 * Signify that a class is responsible for adding a 
 * Theme to a view. It lets us know that UI Components’ 
 * current cosmetic appearance may be due 
 * to the presence of a theme.
 *
 * Format: .s-scope {}
 */
@mixin scope($scope) {
	.#{$bem-scope-namespace}-#{$scope} {
		@if $bem-debug == true {
			outline: 5px solid #a2453d;
		}

		@content;
	}
}

// Shorthand
@mixin s($scope) {
	@include scope($scope) {
		@content;
	}
}