$bem-state-namespace: is !default;

/**
 * Signify that the piece of UI in question 
 * is currently styled a certain way because 
 * of a state or condition. This stateful 
 * namespace is gorgeous, and comes from SMACSS. 
 * It tells us that the DOM currently has a 
 * temporary, optional, or short-lived style 
 * applied to it due to a certain state being invoked.
 *
 * -----
 *
 * Signify that this piece of the DOM has some 
 * behaviour acting upon it, and that JavaScript 
 * binds onto it to provide that behaviour. 
 * If you’re not a developer working with 
 * JavaScript, leave these well alone.
 *
 * Format: .[is|has|js]-state {}
 */
@mixin state($state, $namespace: $bem-state-namespace) {
	&.#{$namespace}-#{$state} {
		@if $bem-debug == true {
			outline: 5px solid #66a96b;
		}

		@content;
	}
}

// Shorthands
@mixin is($state) {
	@include state($state, 'is') {
		@content;
	}
}

@mixin has($state) {
	@include state($state, 'has') {
		@content;
	}
}

@mixin js($state) {
	@include state($state, 'js') {
		@content;
	}
}