$bem-test-namespace: qa !default;

/**
 * Signify that a QA or Test Engineering team 
 * is running an automated UI test which needs 
 * to find or bind onto these parts of the DOM. 
 * Like the JavaScript namespace, this basically 
 * just reserves hooks in the 
 * DOM for non-CSS purposes.
 *
 * Format: .qa-node {}
 */
@mixin test($test) {
	.#{$bem-test-namespace}-#{$test} {
		@if $bem-debug == true {
			outline: 5px solid #f8e796;
		}

		@content;
	}
}

// Shorthand
@mixin qa($test) {
	@include test($test) {
		@content;
	}
}