$bem-utility-namespace: u !default;

/**
 * Signify that this class is a Utility class. 
 * It has a very specific role (often providing 
 * only one declaration) and should not be bound 
 * onto or changed. It can be reused and is not 
 * tied to any specific piece of UI. You will 
 * probably recognise this namespace from 
 * libraries and methodologies like SUIT.
 *
 * Format: .u-utility {}
 */
@mixin utility($utility) {
	.#{$bem-utility-namespace}-#{$utility} {
		@if $bem-debug == true {
			outline: 5px solid #635270;
		}

		@content;
	}
}

// Shorthand
@mixin u($utility) {
	@include utility($utility) {
		@content;
	}
}