@charset "UTF-8";
@use "sass:string";

/// Get index of separator.
///
/// @access private
///
/// @param {String} $string - Name of selector, where we should find separator
///
/// @returns {Number} - Index of separators

@function bem-index($string) {
  $e_index: null;
  $m_index: null;

  @if (string.index($string, string.unquote("#{$bem-element-separator}")) != null) {
    $e_index: string.index($string, string.unquote("#{$bem-element-separator}"));
  }

  @if (string.index($string, string.unquote("#{$bem-modifier-separator}")) != null) {
    $m_index: string.index($string, string.unquote("#{$bem-modifier-separator}"));
  }

  @if (string.index($string, ".is") != null) {
    $m_index: string.index($string, ".is");
  }

  @if (string.index($string, ".js") != null) {
    $m_index: string.index($string, ".js");
  }

  @if (string.index($string, ".has") != null) {
    $m_index: string.index($string, ".has");
  }

  @if (string.index($string, ":") != null) {
    $m_index: string.index($string, ":");
  }

  @return math-min($e_index, $m_index, 0);
}
