@charset "UTF-8";
@use "sass:string";
@use "sass:list";
@use "sass:meta";

/// Explode string to get list of strings.
///
/// @access private
///
/// @param {String} $string - String which should be exploded
/// @param {String} $separator - Separator which will explode string to pieces
///
/// @returns {List} - List of exploded string

@function explode($string, $separator) {
  $list: ();
  $length: string.length($string);

  @for $i from 1 through $length {
    $index: string.index($string, $separator);

    @if string.length($string) >= 1 and $index == null {
      $list: list.append($list, $string);
      $string: '';
    }

    @if meta.type-of($index) == number {
      $each: string.slice($string, 0, ($index - 1));
      $list: list.append($list, $each);
      $string: string.slice($string, ($index + 1), $length);
    }
  }

  @return $list;
}
