@charset "UTF-8";
@use "sass:string";

/// Check if selector contains state.
///
/// @access private
///
/// @param {String} $selector - Selector, which we will check for state
///
/// @returns {Boolean}

@function has-state($selector) {
  $separator_is: string.unquote(".is#{$bem-state-separator}");
  $separator_js: string.unquote(".js#{$bem-state-separator}");
  $separator_has: string.unquote(".has#{$bem-state-separator}");

  @return string.index($selector, $separator_is) != null or string.index($selector, $separator_js) != null or string.index($selector, $separator_has) != null;
}
