@charset "UTF-8";
@use "sass:list";
@use "sass:string";
@use "sass:meta";

/// Implode list to get string.
///
/// @access private
///
/// @param {List} $list - List which will be imploded
/// @param {String} $glue [''] - Separator which will glue list
/// @param {Boolean} $is-nested - List is nested or not
///
/// @returns {String} - Imploded list

@function implode($list, $glue: '', $is-nested: false) {
  $result: null;

  @for $i from 1 through list.length($list) {
    $e: list.nth($list, $i);

    @if meta.type-of($e) == list {
      $result: string.unquote("#{$result}#{implode($e, $glue, true)}");
    } @else {
      $result: if($i != list.length($list) or $is-nested, string.unquote("#{$result}#{$e}#{$glue}"), string.unquote("#{$result}#{$e}"));
    }
  }

  @return $result;
}
