@charset "UTF-8";

/// Get minimum number from two of them, or get default.
///
/// @access private
///
/// @param {String} $a - First number to be checked
/// @param {String} $n - Second number to be checked
/// @param {String} $default [0] - Default number to be returned if min wasn't found
///
/// @returns {Number} - Minimum number from two of them

@function math-min($a, $b, $default: 0) {
  $min: $default;

  @if ($a == null) {
    @if ($b != null) {
      $min: $b;
    }
  } @else if ($b == null) {
    $min: $a;
  } @else {
    @if ($a <= $b) {
      $min: $a;
    } @else {
      $min: $b;
    }
  }

  @return $min;
}
